/*
Gridstack Custom CSS for 35 width
*/

.grid-stack > .grid-stack-item[data-gs-width="1"] {
  width: 2.777777778%;
}
.grid-stack > .grid-stack-item[data-gs-x="1"] {
  left: 2.777777778%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="1"] {
  min-width: 2.777777778%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="1"] {
  max-width: 2.777777778%;
}
.grid-stack > .grid-stack-item[data-gs-width="2"] {
  width: 5.555555556%;
}
.grid-stack > .grid-stack-item[data-gs-x="2"] {
  left: 5.555555556%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="2"] {
  min-width: 5.555555556%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="2"] {
  max-width: 5.555555556%;
}
.grid-stack > .grid-stack-item[data-gs-width="3"] {
  width: 8.333333334%;
}
.grid-stack > .grid-stack-item[data-gs-x="3"] {
  left: 8.333333334%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="3"] {
  min-width: 8.333333334%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="3"] {
  max-width: 8.333333334%;
}
.grid-stack > .grid-stack-item[data-gs-width="4"] {
  width: 11.111111112%;
}
.grid-stack > .grid-stack-item[data-gs-x="4"] {
  left: 11.111111112%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="4"] {
  min-width: 11.111111112%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="4"] {
  max-width: 11.111111112%;
}
.grid-stack > .grid-stack-item[data-gs-width="5"] {
  width: 13.88888889%;
}
.grid-stack > .grid-stack-item[data-gs-x="5"] {
  left: 13.88888889%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="5"] {
  min-width: 13.88888889%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="5"] {
  max-width: 13.88888889%;
}
.grid-stack > .grid-stack-item[data-gs-width="6"] {
  width: 16.666666668%;
}
.grid-stack > .grid-stack-item[data-gs-x="6"] {
  left: 16.666666668%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="6"] {
  min-width: 16.666666668%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="6"] {
  max-width: 16.666666668%;
}
.grid-stack > .grid-stack-item[data-gs-width="7"] {
  width: 19.444444446%;
}
.grid-stack > .grid-stack-item[data-gs-x="7"] {
  left: 19.444444446%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="7"] {
  min-width: 19.444444446%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="7"] {
  max-width: 19.444444446%;
}
.grid-stack > .grid-stack-item[data-gs-width="8"] {
  width: 22.222222224%;
}
.grid-stack > .grid-stack-item[data-gs-x="8"] {
  left: 22.222222224%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="8"] {
  min-width: 22.222222224%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="8"] {
  max-width: 22.222222224%;
}
.grid-stack > .grid-stack-item[data-gs-width="9"] {
  width: 25.000000002%;
}
.grid-stack > .grid-stack-item[data-gs-x="9"] {
  left: 25.000000002%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="9"] {
  min-width: 25.000000002%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="9"] {
  max-width: 25.000000002%;
}
.grid-stack > .grid-stack-item[data-gs-width="10"] {
  width: 27.77777778%;
}
.grid-stack > .grid-stack-item[data-gs-x="10"] {
  left: 27.77777778%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="10"] {
  min-width: 27.77777778%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="10"] {
  max-width: 27.77777778%;
}
.grid-stack > .grid-stack-item[data-gs-width="11"] {
  width: 30.555555558%;
}
.grid-stack > .grid-stack-item[data-gs-x="11"] {
  left: 30.555555558%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="11"] {
  min-width: 30.555555558%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="11"] {
  max-width: 30.555555558%;
}
.grid-stack > .grid-stack-item[data-gs-width="12"] {
  width: 33.333333336%;
}
.grid-stack > .grid-stack-item[data-gs-x="12"] {
  left: 33.333333336%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="12"] {
  min-width: 33.333333336%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="12"] {
  max-width: 33.333333336%;
}
.grid-stack > .grid-stack-item[data-gs-width="13"] {
  width: 36.111111114%;
}
.grid-stack > .grid-stack-item[data-gs-x="13"] {
  left: 36.111111114%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="13"] {
  min-width: 36.111111114%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="13"] {
  max-width: 36.111111114%;
}
.grid-stack > .grid-stack-item[data-gs-width="14"] {
  width: 38.888888892%;
}
.grid-stack > .grid-stack-item[data-gs-x="14"] {
  left: 38.888888892%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="14"] {
  min-width: 38.888888892%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="14"] {
  max-width: 38.888888892%;
}
.grid-stack > .grid-stack-item[data-gs-width="15"] {
  width: 41.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-x="15"] {
  left: 41.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="15"] {
  min-width: 41.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="15"] {
  max-width: 41.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-width="16"] {
  width: 44.444444448%;
}
.grid-stack > .grid-stack-item[data-gs-x="16"] {
  left: 44.444444448%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="16"] {
  min-width: 44.444444448%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="16"] {
  max-width: 44.444444448%;
}
.grid-stack > .grid-stack-item[data-gs-width="17"] {
  width: 47.222222226%;
}
.grid-stack > .grid-stack-item[data-gs-x="17"] {
  left: 47.222222226%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="17"] {
  min-width: 47.222222226%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="17"] {
  max-width: 47.222222226%;
}
.grid-stack > .grid-stack-item[data-gs-width="18"] {
  width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-x="18"] {
  left: 50%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="18"] {
  min-width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="18"] {
  max-width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-width="19"] {
  width: 52.777777782%;
}
.grid-stack > .grid-stack-item[data-gs-x="19"] {
  left: 52.777777782%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="19"] {
  min-width: 52.777777782%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="19"] {
  max-width: 52.777777782%;
}
.grid-stack > .grid-stack-item[data-gs-width="20"] {
  width: 55.55555556%;
}
.grid-stack > .grid-stack-item[data-gs-x="20"] {
  left: 55.55555556%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="20"] {
  min-width: 55.55555556%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="20"] {
  max-width: 55.55555556%;
}
.grid-stack > .grid-stack-item[data-gs-width="21"] {
  width: 58.333333338%;
}
.grid-stack > .grid-stack-item[data-gs-x="21"] {
  left: 58.333333338%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="21"] {
  min-width: 58.333333338%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="21"] {
  max-width: 58.333333338%;
}
.grid-stack > .grid-stack-item[data-gs-width="22"] {
  width: 61.111111116%;
}
.grid-stack > .grid-stack-item[data-gs-x="22"] {
  left: 61.111111116%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="22"] {
  min-width: 61.111111116%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="22"] {
  max-width: 61.111111116%;
}
.grid-stack > .grid-stack-item[data-gs-width="23"] {
  width: 63.888888894%;
}
.grid-stack > .grid-stack-item[data-gs-x="23"] {
  left: 63.888888894%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="23"] {
  min-width: 63.888888894%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="23"] {
  max-width: 63.888888894%;
}
.grid-stack > .grid-stack-item[data-gs-width="24"] {
  width: 66.666666672%;
}
.grid-stack > .grid-stack-item[data-gs-x="24"] {
  left: 66.666666672%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="24"] {
  min-width: 66.666666672%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="24"] {
  max-width: 66.666666672%;
}
.grid-stack > .grid-stack-item[data-gs-width="25"] {
  width: 69.44444445%;
}
.grid-stack > .grid-stack-item[data-gs-x="25"] {
  left: 69.44444445%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="25"] {
  min-width: 69.44444445%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="25"] {
  max-width: 69.44444445%;
}
.grid-stack > .grid-stack-item[data-gs-width="26"] {
  width: 72.222222228%;
}
.grid-stack > .grid-stack-item[data-gs-x="26"] {
  left: 72.222222228%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="26"] {
  min-width: 72.222222228%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="26"] {
  max-width: 72.222222228%;
}
.grid-stack > .grid-stack-item[data-gs-width="27"] {
  width: 75.000000006%;
}
.grid-stack > .grid-stack-item[data-gs-x="27"] {
  left: 75.000000006%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="27"] {
  min-width: 75.000000006%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="27"] {
  max-width: 75.000000006%;
}
.grid-stack > .grid-stack-item[data-gs-width="28"] {
  width: 77.777777784%;
}
.grid-stack > .grid-stack-item[data-gs-x="28"] {
  left: 77.777777784%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="28"] {
  min-width: 77.777777784%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="28"] {
  max-width: 77.777777784%;
}
.grid-stack > .grid-stack-item[data-gs-width="29"] {
  width: 80.555555562%;
}
.grid-stack > .grid-stack-item[data-gs-x="29"] {
  left: 80.555555562%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="29"] {
  min-width: 80.555555562%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="29"] {
  max-width: 80.555555562%;
}
.grid-stack > .grid-stack-item[data-gs-width="30"] {
  width:83.33333334%;
}
.grid-stack > .grid-stack-item[data-gs-x="30"] {
  left:83.33333334%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="30"] {
  min-width:83.33333334%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="30"] {
  max-width:83.33333334%;
}
.grid-stack > .grid-stack-item[data-gs-width="31"] {
  width: 86.111111118%;
}
.grid-stack > .grid-stack-item[data-gs-x="31"] {
  left: 86.111111118%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="31"] {
  min-width: 86.111111118%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="31"] {
  max-width: 86.111111118%;
}
.grid-stack > .grid-stack-item[data-gs-width="32"] {
  width: 88.888888896%;
}
.grid-stack > .grid-stack-item[data-gs-x="32"] {
  left: 88.888888896%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="32"] {
  min-width: 88.888888896%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="32"] {
  max-width: 88.888888896%;
}
.grid-stack > .grid-stack-item[data-gs-width="33"] {
  width: 91.666666674%;
}
.grid-stack > .grid-stack-item[data-gs-x="33"] {
  left: 91.666666674%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="33"] {
  min-width: 91.666666674%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="33"] {
  max-width: 91.666666674%;
}
.grid-stack > .grid-stack-item[data-gs-width="34"] {
  width: 94.444444452%;
}
.grid-stack > .grid-stack-item[data-gs-x="34"] {
  left: 94.444444452%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="34"] {
  min-width: 94.444444452%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="34"] {
  max-width: 94.444444452%;
}
.grid-stack > .grid-stack-item[data-gs-width="35"] {
  width: 97.22222223%;
}
.grid-stack > .grid-stack-item[data-gs-x="35"] {
  left: 97.22222223%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="35"] {
  min-width: 97.22222223%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="35"] {
  max-width: 97.22222223%;
}grid-stack > .grid-stack-item[data-gs-width="36"] {
  width: 100%;
}
.grid-stack > .grid-stack-item[data-gs-x="36"] {
  left: 100%;
}
.grid-stack > .grid-stack-item[data-gs-min-width="36"] {
  min-width: 100%;
}
.grid-stack > .grid-stack-item[data-gs-max-width="36"] {
  max-width: 100%;
}

/* Gridstack container custom css */
.ks_o_graph_svg_container{
    height:calc(100% - 25px);
    width:100%;
}

.ksChartTitle{
    font-weight: bold;
    color: black;
    display: block;
    height:calc(100% - 87%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.ks_o_graph_svg_container > svg.ks_svg_chart{
    height: calc(100% - 13%);
    width:100%;
}


/* Mobile view item no scroll fix */
.grid-stack>.grid-stack-item>.ui-draggable-handle{
    touch-action: unset;
}


.grid-stack > .grid-stack-item > .grid-stack-item-content {

}