@import url('//fonts.googleapis.com/css?family=Manjari|Roboto|Work+Sans&display=swap');
html {
  scroll-behavior: smooth !important;
}

@media (min-width: 1200px){
    #wrapwrap .container {
        max-width: 1070px;
    }
}
header.sticky + main {
    margin-top:100px;
}
header.sticky .navbar{
    background-color: #fff !important;
    position: fixed !important;
}
header .navbar .navbar-brand.logo img{
    transition: all 200ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
}
header.sticky .navbar .navbar-brand.logo img {
    height: 4.5rem !important;
}
#oe_main_menu_navbar + #wrapwrap header.sticky .navbar{
    top:46px;
}
.top-header {
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
    z-index: 18;
    overflow: hidden;
    transition: all 0.4s;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
}
header.sticky .top-header{
    height: 0;
}
header .navbar
{
     max-height: 150px !important;
     top: 0;
     width: 100%;
     z-index: 1000;
}
header .navbar .navbar-nav{
    background:#fff;
}
header .navbar .navbar-collapse .navbar-nav li a
{
    padding: 0 12px !important;
    font-size: 14px !important;
    font-size: 13px !important ;
    font-weight: 400 !important;
    color: #341f3d !important;
    line-height: 2 !important;
    font-family: "Work Sans", sans-serif !important;
    text-transform: uppercase !important;
}
header .mobile-toggle {
    bottom: 3.5rem !important;
}
a.navbar-brand.logo{
    margin: 0px !important;
}
header .navbar-brand.logo img {
    height: 10rem !important;
}
.btn_header
{
        background-color: rgba(204, 204, 204, 1) !important;
        color:#42033C !important;
        border:solid rgba(255, 255, 255, 1) 1px !important;
        width: 130px !important;
        border-radius: 0;

}
.first_btn a:hover
{
    background-color: rgba(66, 3, 60, 1) !important;
    border-color: transparent !important;
    color: rgba(204, 204, 204, 1) !important;
}
.font_general span
{
    font-family: normal normal normal 16px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif !important;
}

h1.title_section
{
    font-family: Manjari;
    font-weight : 700 !important;
}
p.text_section
{
    font-family: Manjari;
    font-size: 18px;

}
p.content_text
{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    color: #444;
}
.total_content
{
    background-color:#fff;
}
.sec_video
{
        border: solid #e55592 3px !important;
        margin-bottom: 40px;

}
nav.is-breadcrumb.shop-breadcrumb{
    display: none !important;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}


.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:  100%;
	height:  100%;
}
.container .row .sec_img img{
    border: none !important;
}
.container .row .sec_img .title_img{
    color: #431c3c;
}
.oe_structure.partner_sec
{
    border: solid .4px;
}
.sec_content{
    margin: 125px 0px;
}
section.content{
    background: #431c3c;
}
.content .sec_form{
    background:#fff;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 30px;
}
.row .btnn .btn_sub{
    background-color: #989898;
    width: 130px;
    border-color: transparent;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 3px !important;
}
p.label_msg{
    font-size: 13px;
    color: #717d79;
}
.o_website_form_required .col-form-label:after, .o_website_form_required_custom .col-form-label:after {
    content: ' *';
    color: red;
}
label.label_form{
    font-size: 16px;
    color: #3b3e3e;
    font-weight: 300;
}
.navbar-brand.logo
{
    margin-top: 30px !important;

}

a.btn_details
{
    width: 210px;
    background-color: #532563;
    font-weight: 400;
    padding: 10px;
    border: solid #07919c 0px;
    font-size: 11px;
    color:#fff;
    border-radius: 0 !important;

}
a.btn_details:hover
{
    background-color: #804b96;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    color:#fff;
}
h3.txt_title{
    font-weight: 300;
    color: #000;
    font-size: 28px;
}
p.txt_content{
    color: #5d5151;
    font-size: 12px;
}
a.btn_more{
    color: #000;
    white-space: nowrap;
    display: inline-block;
    font-size: 18px;

}
.fa-long-arrow-right{
    font-size: 15px;
}
img.sec_img
{
    width: 980px;
    height: auto;
}
span.title{
    font-weight: 400;
    font-size: 40px;
}
.container .baner_sec{
        padding-top: 80px;
        padding-bottom: 100px
}
span.title_commerical
{
    font-family: Manjari;
}
p.text_section
{
    font-family: Manjari;
}
span.commerical_content
{
    font-family: Roboto;
}
span.title_resicential
{
    font-family: Manjari;
}
@media (max-width: 600px){
    span.title_header {
        font-size: 39px !important;
    }
    p.text_section
    {
    font-size: 16px !important;
    }
    .container .baner_sec{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    span.title_commerical{
        font-size: 42px !important;
    }
    span.commerical_content{
        font-size: 15px !important;

    }
    span.title_resicential {
        font-size: 39px !important;
    }
}


span.product_head{
    font-size: 58px;
    color: #fff;
}

/*******/
.videosection{
    max-width: 100%;
    width: 900px;
    margin: 0 auto;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 53.80%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img.device_img{
    width: 100%;
}

.top-header .htl-social {
    float: left;
}
.top-header ul {
    margin: 0;
    padding: 0;
}
.top-header .htl-social li {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}
.top-header .htl-social li a {
    color: #cdcdcd;
    font-size: 18px;
    line-height: 40px;
    padding: 0 11px;
    display: inline-block;
    vertical-align: top;
}
.top-header .ht-right {
    float: right;
}
.top-header .ht-right .h-col.h-search {
    position: static;
}
.top-header .ht-right .h-col {
    position: relative;
    text-align: left;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #eee;
    float: left;
    padding:0 15px;
    color: #8a8181;
}
.as-search {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    z-index: 9;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    display: none;
    box-shadow: 0px 13px 10px -6px rgba(8, 8, 8, 0.28);
}
.navbar-light.bg-light{
    background: #ffffff !important;
}
header .navbar {
    background: #fff !important;
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    padding: 0;
    z-index: 16;
}
#footer {
    border-top: none !important;
}
.footer-top {
    padding: 50px 0;
    background: #232324;
    border-bottom: 1px solid #333333;
}
.footer-top h4 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
}
.footer-top .js_subscribe {
    width: 100%;
}
.form-control {
    border-radius: 0 !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.0625rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #495057;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.footer-top .js_subscribe_email {
    height: 42px;
    border: none;
}
.footer-top .input-group-btn .btn {
    line-height: 40px;
    padding: 0 26px;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary, .list-style-4.list-style-color li {
    border-color: #f3847c;
    background: #f3847c;
}
.footer-top .js_subscribe .alert {
    width: 100%;
    margin: 0;
    padding: 5px 0px;
}
.alert {
    clear: both;
}
.hidden {
    display: none !important;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.middle-footer {
    background: #232324;
}
#footer .footer-bottom {
    border-top: 1px solid #333333;
    background: #232324;
    padding: 20px 0;
}
.middle-footer .fot-col {
    padding: 60px 25px;
}
.middle-footer .fot-col h3 {
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 0 25px;
    padding: 0 0 10px;
    position: relative;
}
.middle-footer .fot-col ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.middle-footer .fot-col ul li {
    position: relative;
    padding: 0 0 0 15px;
    margin: 0 0 10px 0;
}
.middle-footer .fot-col ul li a {
    color: #a2a2a2;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}
.middle-footer .fot-col ul li:after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 9px;
    left: 0;
    border-top: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    transform: rotate(45deg);
}
.middle-footer .fot-col:not(:first-child) {
    border-left: 1px solid #333333;
}
.middle-footer .fot-col {
    padding: 60px 25px;
}
.middle-footer .fot-col address {
    color: rgba(255, 255, 255, 0.5);
}
.middle-footer .fot-col address > div > span {
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
    letter-spacing: 0.5px;
}
.middle-footer .fot-col address > div > div {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.middle-footer .fot-col address > div > div i {
    position: absolute;
    top: 4px;
    left: 0;
    color: #fff;
}
#footer .footer-bottom {
    border-top: 1px solid rgb(51, 51, 51);
    background: rgb(35, 35, 36);
    padding: 20px 0px;
}
#footer .footer-bottom .copyright {
    font-size: 13px;
    color: rgb(162, 162, 162);
    margin: 0px;
}
.nav-item dropdown {
  position: relative;
  display: inline-block;
}
.nav-item-sub-menu {
display: block !important;
    min-width: 180px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ffffff;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    padding: 0;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    border: none;
    box-shadow: 0 13px 16px 1px rgba(0, 0, 0, 0.11);
    padding: 0;
    margin: 0;
  }
  .nav-item-sub-menu > li{
    list-style:none;
 }
#wrapwrap .nav-item-sub-menu > li a {
  color: #341f3d;
  padding: 10px 16px !important;
  text-decoration: none;
  display: block;
  text-align: left;
}
#wrapwrap .navbar-nav .nav-item > a:hover {
    color: #f3847c !important;
    cursor: pointer;
}
#wrapwrap .nav-item-sub-menu > li a:hover {
    color: #f3847c !important;
    background: #f8f9fa;
}
#wrapwrap .navbar-nav .nav-item > a.active{
    color: #f3847c !important;
}
.nav-item.dropdown:hover .nav-item-sub-menu{
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    transition-delay: 200ms;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 9;
}
header .nav-item.dropdown > li {
    margin: 0;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    list-style: none !important;
    position: relative;
}

.parallax > .s_parallax_bg{
    background-attachment: fixed !important;
}
.scroll_top_btn{
    bottom: 20px;
    right: 20px;
    position: fixed;
    color: #fffafa !important;
    font-size: 18px;
    background: #814c98;
    padding: 5px;
    display: none;
    width: 38px;
    height: 38px;
    text-align: center;
    cursor: pointer;
}
.scroll_top_btn.display_btn{
    display: block;
}
.scroll_top_btn:hover{
    background: #815c98;
}
#wrapwrap .nav-item-sub-menu > li a {
    color: #341f3d;
    padding: 10px 16px !important;
    text-decoration: none;
    display: block;
    text-align: left;
}
#wrapwrap .dropdown-menu.show li.dropdown{
    padding: 10px 16px !important;
    text-decoration: none !important;
    border-top: none !important;
}
#wrapwrap .dropdown-menu.show{
    opacity: 1;
    visibility: visible;
    z-index: 9;
    display: block !important;
    min-width: 180px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #ffffff;
    padding: 0;
    border: none !important;
    box-shadow: 0 13px 16px 1px rgba(0, 0, 0, 0.11) !important;
    padding: 0;
    margin: 0;
}
#wrapwrap .dropdown-menu.show li.dropdown .dropdown-item:hover, #wrapwrap .dropdown-menu.show li.dropdown .dropdown-item:focus {
    color: #f3847c !important;
    cursor: pointer;
}
#wrapwrap .dropdown-menu.show li.dropdown:hover, #wrapwrap .dropdown-menu.show li.dropdown:focus {
    background: #f8f9fa;
}
.contact_custom_title{
    color:#5f5f5f;
    font-family: "Manjari", sans-serif !important
    font-size: 42px;
}
.contact_custom_description{
    color: #666;
}
.contact_custom_label{
    color: #504d4d;
    font-family: "Work Sans", sans-serif !important;
}
.company_custom_data *{
    color: #504d4d;
    padding:.2rem 0;
}

.company_custom_data *:not(i){
    font-family: "Roboto", sans-serif !important;
}